
.head{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(239, 52, 0, 0.415);
}
.kart-button{
    height: 80px;
    width: 150px;
    border-radius: 30px;
    background-color: rgba(239, 52, 0, 0.077);
    border: 2px solid black;
    text-decoration-color:white ;
    color: white;
    
}